# Development Tools.
.mypy_cache/
.ruff_cache/
__pycache__/
.idea/
.vscode/

# Environments.
.venv*/
venv*/
conda_env*/

# Python Bytecode.
*.py[cod]

# Distribution/Packaging.
/build/
/dist/
*.egg-info/
.pypirc

# Operating System Junk.
*.DS_Store
Thumbs.db
desktop.ini

# IndexTTS.
/cache/
/checkpoints/*
!/checkpoints/*.yaml
/outputs/
*processed_data/
DeepSpeed/
*datasets/
hf_cache/
*_dataset/
*trained_ckpts*
prompts/
*.whl

*.pth
*.pt
*.bin
*.ckpt
*.safetensors
tools/checkpoints/
